/Modeler Core/build/
/Modeler Core/nbproject/private/
/build/
/Modeler Specification/build/
/Modeler Palette/build/
/Modeler Properties/build/
/Libraries/build/
/Modeler Libraries/build/
/Modeler Libraries/nbproject/private/
/nbproject/private/
/Modeler Properties/nbproject/private/
/Modeler Palette/nbproject/private/