/Modeler Specification/nbproject/private/
/Modeler Palette/nbproject/private/
/Modeler Properties/nbproject/private/
/Modeler Core/nbproject/private/
/Modeler Core/build/
/Modeler Specification/build/
/Modeler Properties/build/
/Modeler Palette/build/
/build/
/nbproject/private/